<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do Lists</title>
</head>
<body>
<h1>Start a New To-Do list</h1>
<form action="/lists/new" method="POST">
    <input name="item_text" placeholder="Enter a to-do item" type="text" id="id_new_item">
    {% csrf_token %}
</form>
<table id="id_list_table">
    {% for item in items %}
        <tr>
            <td>{{ forloop.counter }}: {{ item.text }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>